*{
    box-sizing:border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
  }
/*nav-css*/
nav {
    background-color:#BF0E00;
}
.navbar-brand {
    font-size: 45px;
}
.nav-link {
    color:black;
    transition:0.5s;
}
.nav-link:hover {
    color:white;
    transition:0.5s;
}
/*title*/
.title {
    display:flex;
    position:relative;
    top:130px;
    background-color:#BF0E00;
    padding:100px;
    margin-bottom:50px;
    height:600px;
}
.GC-title{
    margin:auto;
    color:black;
}
.descrip {
    position:relative;
    top:100px;
    background-color:#BF0E00;
    height:300px;
    margin-bottom:50px;
    font-size: 20px;
    overflow:scroll;
    color:black;
}
.learn {
    position:relative;
    top:100px;
    background-color:#BF0E00;
    height:300px;
    font-size: 20px;
    overflow:scroll;
    color:black;
}
.line {
 width: 100%;
 margin-top:200px;
 margin-bottom:0px;
 color:#BF0E00;
}
.footer {
    padding: 60px;
    background-color:#BF0E00;
    color: black;
    margin-top:200px;
  }
.GC-link {
    color:black;
    transition:0.5s;
}
.GC-link:hover {
    color:white;
    transition:0.5s;
}