/*nav-css*/
nav {
    background-color:#BF0E00;
}
.navbar-brand {
    font-size: 45px;
}
/*title*/
.title {
    display:flex;
    position:relative;
    top:100px;
    background-color:#BF0E00;
    padding:100px;
    height:600px;
}
.title
.hi{
    margin:auto;
    color:black;
}
.line {
 width: 100%;
 margin-top:200px;
 margin-bottom:200px;
 color:#BF0E00;
}